.animated-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
}

.animated-image h2 {
    margin: 50px;
    padding: 10px;
    font-size: 30px;
    color: #000;
    text-align: center;
    font-weight: 600;
}

.list-img {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    width: 99%;
    margin: 0 auto;
}

.list-img>div {
    flex: 1 1 25%;
}

.animated-image p {
    padding: 40px 0;
    font-size: 15px;
    color: #000;
    text-align: justify;
    width: 66%;
    margin: 0 auto;
    opacity: 0.8;
    font-size: 13px;
    line-height: 1.4;
}

@media (max-width: 739px) {
    .animated-image button {
        font-size: 14px;
        font-weight: 600;
        width: fit-content;
        margin: 20px auto;
        padding: 4px 20px;
        border: 1px solid;
        border-radius: 16px;
        text-transform: uppercase;
    }
}