.container-home-first {
    background-color: #fff;
    color: #000;
    width: 90%;
    margin: 0 auto;
}

.container-home-first .container-left>div {
    display: inherit;
    align-items: center;
}

.container-home-first .container-left h2 {
    font-size: 28px;
    font-weight: 600;
}

.container-home-first .container-right {
    padding: 0;
}

.container-home-first .container-right>div {
    display: flex;
    justify-content: center;
}

.container-home-first .container-right img {
    width: 55%;
}

@media (max-width: 739px) {
    .container-home-first .container-left {
        gap: 10px;
    }

    .container-home-first .container-left>div {
        gap: 10px;
    }

    .container-home-first .container-left span {
        display: inline-block;
    }

    .container-home-first .container-left p {
        font-size: 17px;
    }

    .container-home-first .container-right img {
        width: 100%;
    }
}